This notebook analyzes precipitation.

In [1]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,S,1325.0,NaN,NaN,NaN,NaN,NaN
1,B,1325.0,NaN,NaN,NaN,NaN,NaN
2,biometrics,170.0,NaN,NaN,NaN,NaN,NaN
3,Paperwork (Peru),680.0,NaN,NaN,NaN,NaN,NaN
4,NaN,3500.0,NaN,NaN,NaN,NaN,NaN